<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Google Workshop</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="./">Google Workshop</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="./">Home</a></li>
          <li><a href="attendees">Attendees</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        <h3 style="color:#4285F4" text="Google Workshop Demo Application"></h3>
         
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
          <h4>Hello GCP Workshop</h4><br/>
          <p>The instance hostname is <b th:text="${hostname}"></b></p>
	    </div>
        <hr/>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <!-- This simply refreshes the page to demonstrate changed (or unchanged) ports -->
        <a href="javascript:window.location.reload();" class="medium button">Refresh</a>
      </div>
    </div>

    </body>
    
</html>